<!DOCTYPE html>
<html lang="en">
  <head>
  	<%= require('html-loader!./layout/head-common.html')%>
  	<title><%= htmlWebpackPlugin.options.title %> - TMailStore电商平台</title>
  </head>
  <body>
    <%= require('html-loader!./layout/nav.html')%>
  	<%= require('html-loader!./layout/header.html')%>

		<div class="w">
			<ul class="keywords-list">
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=手机">手机</a>
					<a class="link" target="_blank" href="./list.html?keyword=数码">数码</a>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=电脑">电脑</a>
					<a class="link" target="_blank" href="./list.html?keyword=办公配件">办公配件</a>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=电视">电视</a>
					<a class="link" target="_blank" href="./list.html?keyword=空调">空调</a>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=冰箱">冰箱</a>
					<a class="link" target="_blank" href="./list.html?keyword=洗衣机">洗衣机</a>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=厨卫家电">厨卫家电</a>
					<a class="link" target="_blank" href="./list.html?keyword=小家电">小家电</a>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=家具">家具</a>
					<a class="link" target="_blank" href="./list.html?keyword=家纺">家纺</a>
					<a class="link" target="_blank" href="./list.html?keyword=家饰">家饰</a>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=零食">零食</a>
					<a class="link" target="_blank" href="./list.html?keyword=茶酒">茶酒</a>
					<a class="link" target="_blank" href="./list.html?keyword=进口食品">进口食品</a>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=个护化妆">个护化妆</a>
					<a class="link" target="_blank" href="./list.html?keyword=清洁用品">清洁用品</a>
					<a class="link" target="_blank" href="./list.html?keyword=纸品">纸品</a>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=母婴用品">母婴用品</a>
					<a class="link" target="_blank" href="./list.html?keyword=儿童玩具">儿童玩具</a>
					<a class="link" target="_blank" href="./list.html?keyword=童装童鞋">童装童鞋</a>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=鞋靴">鞋靴</a>
					<a class="link" target="_blank" href="./list.html?keyword=钟表">钟表</a>
					<a class="link" target="_blank" href="./list.html?keyword=箱包">箱包</a>
					<a class="link" target="_blank" href="./list.html?keyword=珠宝">珠宝</a>
				</li>
				</ul>
				<!-- =========== -->
				<div class="banner-con">
					<!-- 在这里动态加载轮播图的html结构 -->
					
				</div>
			</div>
		<div class="w">
			<!-- ========= -->
			<div class="floor-wrap">
				<h1 class="floor-title">F1 家用电器</h1>
				<ul class="floor-list">
					<li class="floor-item">
						<a href="./list.html?categoryId=100006">
						<span class="floor-text">双开门冰箱</span>
						<img src="<%= require('../image/floor/floor1-1.jpg') %>" 
						class="floor-img" alt="双开门冰箱"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=100007">
						<span class="floor-text">电视</span>
						<img src="<%= require('../image/floor/floor1-2.jpg') %>" 
						class="floor-img" alt="电视"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=100008">
						<span class="floor-text">洗衣机</span>
						<img src="<%= require('../image/floor/floor1-3.jpg') %>" 
						class="floor-img" alt="洗衣机"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=100009">
						<span class="floor-text">空调</span>
						<img src="<%= require('../image/floor/floor1-4.jpg') %>" 
						class="floor-img" alt="空调"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=100010">
						<span class="floor-text">热水器</span>
						<img src="<%= require('../image/floor/floor1-5.jpg') %>" 
						class="floor-img" alt="热水器"/>
						</a>
					</li>
				</ul>
			</div>
			<div class="floor-wrap">
				<h1 class="floor-title">F2 手机数码</h1>
				<ul class="floor-list">
					<li class="floor-item">
						<a href="./list.html?categoryId=100011">
						<span class="floor-text">神州笔记本</span>
						<img src="<%= require('../image/floor/floor2-1.jpg') %>" 
						class="floor-img" alt="神州笔记本"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=100012">
						<span class="floor-text">iphone8手机</span>
						<img src="<%= require('../image/floor/floor2-2.jpg') %>" 
						class="floor-img" alt="iphone8手机"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=100013">
						<span class="floor-text">iPad</span>
						<img src="<%= require('../image/floor/floor2-3.jpg') %>" 
						class="floor-img" alt="iPad"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=100014">
						<span class="floor-text">数码相机</span>
						<img src="<%= require('../image/floor/floor2-4.jpg') %>" 
						class="floor-img" alt="数码相机"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=100015">
						<span class="floor-text">排插</span>
						<img src="<%= require('../image/floor/floor2-5.jpg') %>" 
						class="floor-img" alt="排插"/>
						</a>
					</li>
				</ul>
			</div>
			<div class="floor-wrap">
				<h1 class="floor-title">F3 衣服箱包</h1>
				<ul class="floor-list">
					<li class="floor-item">
						<a href="./list.html?categoryId=100016">
						<span class="floor-text">秋季新款时尚套装</span>
						<img src="<%= require('../image/floor/floor3-1.jpg') %>" 
						class="floor-img" alt="秋季新款时尚套装"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=100017">
						<span class="floor-text">针织帽</span>
						<img src="<%= require('../image/floor/floor3-2.jpg') %>" 
						class="floor-img" alt="针织帽"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=100018">
						<span class="floor-text">旅行箱</span>
						<img src="<%= require('../image/floor/floor3-3.jpg') %>" 
						class="floor-img" alt="旅行箱"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=100019">
						<span class="floor-text">LV包包</span>
						<img src="<%= require('../image/floor/floor3-4.jpg') %>" 
						class="floor-img" alt="LV包包"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=100020">
						<span class="floor-text">南极人男款保暖衣</span>
						<img src="<%= require('../image/floor/floor3-5.jpg') %>" 
						class="floor-img" alt="南极人男款保暖衣"/>
						</a>
					</li>
				</ul>
			</div>
			<div class="floor-wrap">
				<h1 class="floor-title">F4 小吃零食</h1>
				<ul class="floor-list">
					<li class="floor-item">
						<a href="./list.html?categoryId=100021">
						<span class="floor-text">三只松鼠</span>
						<img src="<%= require('../image/floor/floor4-1.jpg') %>" 
						class="floor-img" alt="三只松鼠"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=100022">
						<span class="floor-text">生肉牛排</span>
						<img src="<%= require('../image/floor/floor4-2.jpg') %>" 
						class="floor-img" alt="生肉牛排"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=100023">
						<span class="floor-text">酸辣鱼片</span>
						<img src="<%= require('../image/floor/floor4-3.jpg') %>" 
						class="floor-img" alt="酸辣鱼片"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=100024">
						<span class="floor-text">湾仔码头水饺</span>
						<img src="<%= require('../image/floor/floor4-4.jpg') %>" 
						class="floor-img" alt="湾仔码头水饺"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=100025">
						<span class="floor-text">特仑苏纯牛奶</span>
						<img src="<%= require('../image/floor/floor4-5.jpg') %>" 
						class="floor-img" alt="特仑苏纯牛奶"/>
						</a>
					</li>
				</ul>
			</div>
			<div class="floor-wrap">
				<h1 class="floor-title">F5 酒水饮料</h1>
				<ul class="floor-list">
					<li class="floor-item">
						<a href="./list.html?categoryId=100026">
						<span class="floor-text">贵州茅台酒</span>
						<img src="<%= require('../image/floor/floor5-1.jpg') %>" 
						class="floor-img" alt="贵州茅台酒"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=100027">
						<span class="floor-text">红酒</span>
						<img src="<%= require('../image/floor/floor5-2.jpg') %>" 
						class="floor-img" alt="红酒"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=100028">
						<span class="floor-text">可口可乐</span>
						<img src="<%= require('../image/floor/floor5-3.jpg') %>" 
						class="floor-img" alt="可口可乐"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=100029">
						<span class="floor-text">RIO鸡尾酒</span>
						<img src="<%= require('../image/floor/floor5-4.jpg') %>" 
						class="floor-img" alt="RIO鸡尾酒"/>
						</a>
					</li>
					<li class="floor-item">
						<a href="./list.html?categoryId=100030">
						<span class="floor-text">啤酒</span>
						<img src="<%= require('../image/floor/floor5-5.jpg') %>" 
						class="floor-img" alt="啤酒"/>
						</a>
					</li>
				</ul>
			</div>
		</div>
		
    <%= require('html-loader!./layout/footer.html')%>
  </body>
</html>
