.pg-content{
	text-align: center;
	color: #333333;
}
.pg-content .pg-item{
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 15px;
	margin: 0 2px;
	border: 1px solid #CCCCCC;
	background: #EEEEEE;
	cursor: pointer;     /* 光标变手指头 */
	/* 取消默认上的级选中的效果 */
	-moz-user-select: none;    /* 各种浏览器的兼容 */
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select:none;
}
.pg-content .pg-item.disabled{
	color: #CCCCCC;
	background: none;
	cursor: auto;
}
.pg-content .pg-item.active{
	border: 1px solid red;
	background: greenyellow;
	cursor: auto;
}
.pg-content .pg-total{
	margin-left: 10px;
	background: none;
	cursor: auto;
}